
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Development</title>
    <link rel='shortcut icon' href='https://is5-ssl.mzstatic.com/image/thumb/Purple/v4/99/67/3b/99673b9f-9805-60fb-dd08-4b15baf2c231/source/256x256bb.jpg'/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>
    <div id='root'></div>
</body>
</html>
