body
  background: #ffffff
  font-family: Tahoma, Verdana
  font-size: 12px

.center
  text-align: center
  padding: 10px

.app
  // margin: 10px auto
  background: #ffffff
  border-top: solid 3px #0076ff
  padding-bottom: 0


.headerImg
  height: 70px
  display: inline

.borderTop
  border-top: solid 1px #e4e4e4

.borderLeft
  border-left: solid 1px #e4e4e4

.borderBottom
  border-bottom: solid 1px #e4e4e4

.borderRight
  border-right: solid 1px #e4e4e4

.leaderBoard
  font-size: 10px
  text-align: left
  padding: 0 0 10px 10px
  min-height: 100px
  max-width: 300px
  margin-left: auto
  margin-right: auto

.bold
  font-weight: bold
  padding: 10px 0
  margin: 0
  color: black

.normal
  font-weight: normal

.rowPadding
  padding: 10px 0

@media (max-width: 767px)
  .borderLeft
    border: none
  .headerImg
    display: none
  .level
    font-size: 22px
    font-weight: bold

.clearFix
  clear: both

.rules
  text-align: justify
  font-size: 10px

.centerHor
  margin: auto
  padding-bottom: 10px

@media (min-width: 400px) and (max-width: 767px)
  .leaderBoard
    margin-left: auto
    margin-right: auto

@media (min-width: 768px)
  .level
    display: none
  .app
    -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3)
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3)
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3)
    -moz-border-radius: 5px
    -webkit-border-radius: 5px
    border-radius: 5px

.thisUser
  background: #ffb33a
  border-radius: 5px

.notThisUser
  border-bottom: solid 1px #e4e4e4

.myContainer
  padding-left: 10px
  padding-right: 10px
  padding: 0
